.rangeBullet {
    background: #333;
    position: absolute;
    transform: translate(-50%, -40%);
    top: 50%;
    border-radius: 50%;

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }
}