.mangoRangeApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
